# 依赖
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# 环境变量
.env
.env.local
.env.*.local

# 日志
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pino-*.log

# 临时文件
.tmp/
.cache/
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
.history/

# 测试覆盖率
coverage/
.nyc_output/

# 构建输出
dist/
build/

# PM2
.pm2/
